{% extends "layouts/base.html" %}

{# Load our JavaScript & React code with Webpack #}
{% load render_bundle from webpack_loader %}

{% block content %}

<div class="container-fluid">
  <div class="row">
    <div class="col-2">
      <nav class="navbar navbar-default navbar-fixed-side">
        <div class="container">
          <div class="navbar-header"><a class="navbar-brand" href="./">Classes</a></div>
          <div class="collapse navbar-collapse" id="left-side-menu">
            <!-- User Menu -->
          </div>
        </div>
      </nav>
      <div id="help-information">
        <!-- Information -->
      </div>
    </div>
    <div class="col-6">
      <h1 class="page-header">Quiz Uploader <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
        <div id="editor-options" style="float:right;">
          <!-- Editor Options -->
        </div>
      </h1>
      <div id="react-pdf">
        <!-- The Editing App -->
      </div>
    </div>
    <div class="col">
      <div id="right-side-menu">
        <!-- Knowledge Base -->
      </div>
    </div>
  </div>
</div>

<!-- Text drag and drop -->
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

<p class="draggable" id="1">This is a test.</p>
<textarea id="textbox"></textarea>

{% render_bundle 'main' %}
{% endblock %}
