{% extends "layouts/base.html" %}

{# Load our JavaScript & React code with Webpack #}
{% load render_bundle from webpack_loader %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-2">
      <div class="left-widget">
        <h4><i class="fa fa-caret-down" aria-hidden="true"></i> Classes</h4>
        <ul>
          <li>
            <h4>Anthropology</h4>
          </li>
          <li>
            <h4>Biology</h4>
          </li>
          <li>
            <h4>Physics</h4>
          </li>
          <li>
            <h4>Math</h4>
          </li>
        </ul>
        <h4><i class="fa fa-caret-down" aria-hidden="true"></i> Physics Lectures</h4>
        <ul>
          <li><i class="fa fa-file-pdf-o" aria-hidden="true"></i> Waves I</li>
          <li><i class="fa fa-file-word-o" aria-hidden="true"></i> Waves II</li>
          <li><i class="fa fa-file-text-o" aria-hidden="true"></i> Uncertainty</li>
          <li><i class="fa fa-folder-o" aria-hidden="true"></i> Relativity</li>
        </ul>
        <h4><i class="fa fa-caret-down" aria-hidden="true"></i> Homeworks</h4>
        <ul>
          <li>HW0 <i class="fa fa-check" aria-hidden="true"></i></li>
          <li>HW1</li>
          <li>HW2 <i class="fa fa-check" aria-hidden="true"></i></li>
        </ul>
      </div>
    </div>
    <div class="col-6">
      <h1 class="page-header">Quiz Uploader <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
        <div class="edit-icons" style="float:right;">
          <i class="fa fa-eye edit-icon edit-icon-right-bar" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="view original pdf"></i>
          <i class="fa fa-floppy-o edit-icon edit-icon-right-bar" aria-hidden="true" data-toggle="tooltip" data-placement="bottom"
            title="save progress"></i>
          <i class="fa fa-print edit-icon edit-icon-right-bar" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="print current copy"></i>
          <i class="fa fa-check-square-o edit-icon" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="mark as complete"></i>
        </div>
      </h1>
      <div id="react-pdf">
        <!-- The Editing App -->
      </div>
    </div>
    <div class="col">
      <div id="rr-search">
        <!-- Knowledge Base -->
      </div>
      <div id="solr-collections">
        <!-- Command Center -->
      </div>
    </div>
  </div>
</div>
<script>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
</script>
{% render_bundle 'main' %}
{% endblock %}
