{% extends "layouts/base.html" %}

{# Load our JavaScript & React code with Webpack #}
{% load render_bundle from webpack_loader %}

{% block content %}
<br>
<div class="container">
    <div class="page-header">
        <h1>PDF Uploader</h1>
    </div>

    <section>
        <h3>Natural Language Classifier</h3>
        <p>Here are some static sentences that have been classified by the current version of our <strong>NLC</strong>.</p>
        <ol class="dl-horizontal nlc-spaced">
            {% for c in classifications %}
            <li>
                </span><code>{{ c.tag }}</code>
                
                {% for w in c.words %}
                    {% if w.tag %}
                        <span class={{ w.tag }}>{{ w.fragment }}</span>
                    {% else %}
                        {{ w.fragment }}
                    {% endif %}
                {% endfor %}
            </li>
            {% endfor %}
        </ol>
        <!-- keeping for refrence, when i need to insert django template vars again (bill) -->
        <!-- <ol class="dl-horizontal nlc-spaced">
      	{% for c in classifications %}
            <li><a class="glyphicon" data-toggle="collapse" href="#collapse{{ forloop.counter }}">&#x2b;</a></span><code>{{ c.tag }}</code>
              {% for w in c.words %}
                {% if w.tag %}
                  <span class={{ w.tag }}>{{ w.fragment }}</span>
                {% else %}
                  {{ w.fragment }}
                {% endif %}
              {% endfor %}
              <span class="alchemy" data-toggle="tooltip" data-placement="top" title="alchemify"><i class="fa fa-flask"></i></span>
            </li>
            <div id="collapse{{ forloop.counter }}" class="panel-collapse collapse">
              <ul class="list-group">
                {% if c.keywords|length > 0 %}
                <li>
                  <a class="glyphicon" data-toggle="collapse" href="#collapsekeyword{{ forloop.counter }}">&#x2b;</a><kbd>Keywords</kbd>
                  <div id="collapsekeyword{{ forloop.counter }}" class="panel-collapse collapse">
                  {% for kw in c.keywords %}
                    <strong>{{ kw.text }}</strong>
                    {% for item in kw.items %}
                    <ul>
                      <li>{{ item.0 }}, {{ item.1 }}</li>
                    </ul>
                    {% endfor %}
                  {% endfor %}
                </div>
                </li>
                {% endif %}
                {% if c.concepts|length > 0 %}
                <li>
                  <a class="glyphicon" data-toggle="collapse" href="#collapseconcepts{{ forloop.counter }}">&#x2b;</a><kbd>Concepts</kbd>
                  <div id="collapseconcepts{{ forloop.counter }}" class="panel-collapse collapse">
                  {% for concept in c.concepts %}
                    <strong>{{ concept.text }}</strong>
                    {% for item in concept.items %}
                    <ul>
                      <li>{{ item.0 }}, {{ item.1 }}</li>
                    </ul>
                    {% endfor %}
                  {% endfor %}
                </div>
                </li>
                {% endif %}
              </ul>
            </div>
        {% endfor %}
      </ol> -->
        <h3>React Component</h3>
        <p>Below is a component to demonstrate React capability, as well as test our classifier's capability at discriminating
            sentences. <strong>New!</strong> Now we can now use alchemy backend to extract information from text.</p>
        <div id="react-comp">
            {% render_bundle 'main' %}
        </div>
        <div id="react-pdf">
            {% render_bundle 'main' %}
        </div>
        <br>
        <br>
    </section>
</div>
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>
{% endblock %}
