{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

<title>PDF</title>
<body>
    <div class="container">

      <div class="page-header">
        <h1>🤘Welcome to Watson-TA🤘</h1>
        <p class="lead">This is where the user will upload PDFs to be analyzed by Watson. (maybe, just a place holder for now)</p>
      </div>

      <h3>Team Members</h3>
      <p>The worst thing about prison was-was the dementors <strong>-Michael Scott</strong></p>
      <div class="row">
        <div class="col-md-4">Dalton Flanagan</div>
        <div class="col-md-4">David Soller</div>
        <div class="col-md-4">Livia Stanley</div>
        <div class="col-md-4">Bill Varcho</div>
        <div class="col-md-4">Tyler Zeller</div>
      </div>
      <h3>React Component</h3>
      <p>Under construction...🚧</p>
<iframe src="//giphy.com/embed/tAeB6dptxnoli" width="480" height="445" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="http://giphy.com/gifs/construction-tAeB6dptxnoli">via GIPHY</a></p>
</body>
