{% extends "layouts/base.html" %}

{% block content %}
<style>
  ul {
    list-style-type: none;
  }
  
  .imageContainer {
    background-image: url('http://i.huffpost.com/gen/2159432/images/o-EMPTY-CLASSROOM-facebook.jpg');
  }
  
  .classroom img {
    margin-top: -25px;
    object-fit: cover;
    width: 100%;
    height: 300px;
  }
  
  .white {
    color: #eee;
  }
  
  mark:hover {
    background-color: #fdefa6;
  }
</style>


<br>
<div class="classroom"><img src="http://i.huffpost.com/gen/2159432/images/o-EMPTY-CLASSROOM-facebook.jpg" /></div>
<br>
<div class="container">
  <div class="page-header">
    <h1 class="">
      <mark>Welcome to Watson-TA!</mark>
    </h1>
  </div>
  <br>
  <p>Is studying not working? Meet Watson TA – an always-on, hyper-intelligent teaching assistant that can help you
    learn faster and achieve the grades you desire. After uploading your homework into the web application, Watson TA
    will extract the questions and present the most relevant information from thousands of slides, textbooks, and
    lectures. To help you better explore and understand the material, you can also interactively query the
    knowledge base to learn concepts from a variety of different pedagogies and perspectives.</p>
  <br>
  <br>
</div>
{% endblock %}

























